<!DOCTYPE html>
<html>
<partial src="head-4.html" title="PPSMB PALAPA 2018"></partial>

<body>
   <!-- hari 1 -->
   <partial src="navbar-4.html"></partial> 

   <!-- breadcrumb -->
   <partial src="breadcrumb-fakultas-2.html" nama-hari="@@nama-hari" link-hari="@@link-hari" fakultas="@@fakultas" section="agenda"></partial>

   <!-- title -->
   <partial src="section-title-fakultas.html" nama-hari="@@nama-hari-2" fakultas="@@fakultas-2" section="agenda"></partial>

   <partial src="petunjuk-lv4.html"></partial>

   <!-- embed document -->
   <partial src="frame-document.html" link="@@link-document"></partial>

   <!-- footer -->
   <partial src="footer.html"></partial>

   <!-- UIkit JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit.min.js"></script>
</body>
</html>