<!DOCTYPE html>
<html>
<partial src="head-2.html" title="PPSMB UGM 2018"></partial>

<body>
   <!-- hari 1 -->
   <partial src="navbar-2.html"></partial> 

   <!-- breadcrumb -->
   <partial src="breadcrumb-2.html" nama-hari="@@nama-hari" section="agenda"></partial>

   <!-- title -->
   <partial src="section-title.html" nama-hari="@@nama-hari-2" section="agenda"></partial>

   <partial src="petunjuk-lv2.html"></partial>

   <!-- embed document -->
   <partial src="frame-document.html" link="@@link-document"></partial>

   <!-- footer -->
   <partial src="footer.html"></partial>

   <!-- UIkit JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit.min.js"></script>
</body>
</html>