<!DOCTYPE html>
<html>
<partial src="head-5.html" title="PPSMB UGM 2018"></partial>

<body>
   <!-- hari 1 -->
   <partial src="navbar-5.html"></partial> 

   <!-- breadcrumb -->
   <partial src="breadcrumb-fakultas-4.html" nama-hari="@@nama-hari" link-hari="@@link-hari" link-fakultas="@@link-fakultas" fakultas="@@fakultas" section="atribut & penugasan" cluster="@@cluster"></partial>

   <!-- title -->
   <partial src="section-title-fakultas-2.html" nama-hari="@@nama-hari" fakultas="@@fakultas" cluster="@@cluster" section="atribut & penugasan"></partial>

   <partial src="petunjuk-lv5.html"></partial>

   <!-- embed document -->
   <partial src="frame-document.html" link="@@link-document"></partial>

   <!-- footer -->
   <partial src="footer.html"></partial>

   <!-- UIkit JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit.min.js"></script>
</body>
</html>