<!-- fakultas -->
<div class="uk-card uk-card-default col-normal margin-card" style="border-radius: 40px;">
   <div class="uk-card-body">
      <div class="uk-flex uk-flex-center">
         <h4>@@sub</h4>
      </div>
      <div class="uk-flex uk-flex-center">
         <p>@@jurusan</p>
      </div>
      <div class="uk-flex uk-flex-center">
         <a class="uk-button uk-button-default btn-blue" href="@@link/index.html" style="border-radius: 90px;">buka</a>
      </div>
   </div>
</div>
<!-- end -->