

<!--========== FOOTER ==========-->
<footer id="kontak" class="g-bg-color--dark">

    <!-- Links -->
    <div id="myTypingText"></div>
    <div class="g-hor-divider__dashed--white-opacity-lightest">
        <div class="container g-padding-y-80--xs">
            <div class="row">
                <div class="col-sm-4 g-margin-b-20--xs g-margin-b-0--md">
                    <div class="g-font-size-15--xs g-color--white-opacity">
                        <h5 style="color: white"><u>Sekretariat PPSMB UGM</u></h5>
                        Panitia Pusat PPSMB UGM 2018
                        <br> Subdit. Pengembangan Karakter Mahasiswa
                        <br> Direktorat Kemahasiswaan <br>
                        Universitas Gadjah Mada
                        <br>
                        <a href="https://goo.gl/maps/db4RaashyoN2" target="_blank">
                            Jl. Asem Kranji Blok K-8 Sekip, Bulaksumur, Sleman, Yogyakarta 55281 (PKM Center)
                            <br>
                        </a>
                        Jam kerja pukul 08.00 - 16.00 WIB.
                        <br>
                        <div class="ti-email"> ppsmbugm@ugm.ac.id</div>
                    </div>
                </div>
                <div class="col-sm-5 g-margin-b-20--xs g-margin-b-0--md">
                    <div class="g-font-size-15--xs g-color--white-opacity">
                        <h5 style="color: white"><u>Korespondensi/Alamat:</u></h5>
                        Kasubdit. Pengembangan Karakter Mahasiswa,<br> 
                        Direktorat Kemahasiswaan Universitas Gadjah Mada  <br>
                        q.q. Ketua Pelaksana PPSMB UGM 2018 <br>
                        Jl. Asem Kranji Blok K-8 Sekip, Bulaksumur, Sleman, Yogyakarta. 55281
                        
                        <br>
                        <br>
                        <h5 style="color: white"><u>Pusat Informasi:</u></h5>
                        HELP DESK PPSMB : +62-823-3836-2002 (24 Jam).
                        
                        <br>
                    </div>
                </div>
                <div class="col-sm-3 g-margin-b-20--xs g-margin-b-0--md">
                    <div class="g-font-size-15--xs g-color--white-opacity g-margin-b-20--xs">
                        <h5 style="color: white"><u>Akun Resmi PPSMB:</u></h5>
                    </div>
                    <div class="col-sm-12 g-margin-b-20--xs " style="margin-bottom: 10px;">
                        <a href="https://facebook.com/PPSMB-Palapa-UGM-325374494259950/">
                            <div class="oa-footer g-color--white-opacity">
                                    <i class="icon-footer fab fa-facebook-square"></i>  PPSMB UGM
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-12 g-margin-b-20--xs " style="margin-bottom: 10px;">
                        <a href="https://www.youtube.com/user/ppsmbpalapa">
                            <div class="oa-footer g-color--white-opacity">
                                <i class="icon-footer fab fa-youtube-square"></i> PPSMB UGM
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-12 g-margin-b-20--xs " style="margin-bottom: 10px;">
                        <a href="https://twitter.com/ppsmb_ugm">
                            <div class="oa-footer g-color--white-opacity">
                                <i class="icon-footer fab fa-twitter-square"></i> @ppsmb_ugm
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-12 g-margin-b-20--xs " style="margin-bottom: 10px;">
                        <a href="https://www.instagram.com/ppsmb_ugm/">
                            <div class="oa-footer g-color--white-opacity">
                                <i class="icon-footer fab fa-instagram"></i> @ppsmb_ugm
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-12 g-margin-b-20--xs " style="margin-bottom: 10px;">
                        <a href="https://ask.fm/ppsmb_ugm">
                            <div class="oa-footer g-color--white-opacity">
                                <i class="icon-footer fab fa-lastfm-square"></i> @ppsmb_ugm
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-12 g-margin-r-1--xs" style="margin-bottom: 10px;">
                        <a href="http://line.me/ti/p/~@ppsmb_ugm">
                            <div class="oa-footer g-color--white-opacity">
                                <i class="icon-footer fab fa-line"></i> @ppsmb_ugm
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Links -->

    <!-- Copyright -->
    <div class="container g-padding-y-50--xs">
        <div class="row">
            <div class="col-xs-6  g-text-left--xs">
                    <p class="g-font-size-14--xs g-margin-b-0--xs g-color--white-opacity-light">&copy;2018. Tim IT PPSMB UGM </p>
            </div>
            <div class="col-xs-6">
            </div>
        </div>
    </div>
    <!-- End Copyright -->

    <!--Start of Tawk.to Script-->
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/57721d50def120b32d63b646/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!--End of Tawk.to Script-->
  <!-- Histats.com  START  (aync)-->
    <script type="text/javascript">var _Hasync= _Hasync|| [];
        _Hasync.push(['Histats.start', '1,4099717,4,0,0,0,00010000']);
        _Hasync.push(['Histats.fasi', '1']);
        _Hasync.push(['Histats.track_hits', '']);
        (function() {
            var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
            hs.src = ('//s10.histats.com/js15_as.js');
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
        })();
    </script>
    <noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?4099717&101" alt="free webpage hit counter" border="0"></a></noscript>
<!-- Histats.com  END  -->


</footer>