<head>
   <meta http-equiv="Pragma" content="no-cache">
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>@@title</title>
   <meta name="keywords" content="PPSMB PALAPA UGM OSPEK 2018" />
   <meta name="description" content="PPSMB Palapa">
   <meta name="author" content="Tim IT PPSMB PALAPA 2018">

   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- UIkit CSS -->
   <link rel="stylesheet" href="../../../../public/css/uikit.min.css" />

   <!-- UIkit JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit.min.js"></script>

   <!-- style css -->
   <link rel="stylesheet" href="../../../../public/css/mt-style.css">

   <!-- Favicon -->
   <link rel="shortcut icon" href="../../../../img/favicon.ico" type="image/x-icon">
   <link rel="apple-touch-icon" href="../../../../img/apple-touch-icon.png">

   <!-- font -->
   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

   <!-- Web Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:400,700" rel="stylesheet">

   <!-- Vendor Styles -->
   <link href="../../../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
   <link href="../../../../css/animate.css" rel="stylesheet" type="text/css" />
   <link href="../../../../vendor/themify/themify.css" rel="stylesheet" type="text/css" />
   <link href="../../../../vendor/scrollbar/scrollbar.min.css" rel="stylesheet" type="text/css" />
   <link href="../../../../vendor/swiper/swiper.min.css" rel="stylesheet" type="text/css" />
   <link href="../../../../vendor/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css" />

   <!-- Theme Styles -->
   <link href="../../../../css/global/global.css" rel="stylesheet" type="text/css" />

   <!-- Favicon -->
   <!-- <link rel="icon" type="image/x-icon" href="http://example.com/favicon.ico" />
   <link rel="icon" type="image/png" href="http://example.com/favicon.png" />
   <link rel="icon" type="image/gif" href="http://example.com/favicon.gif" /> -->
   <link href="../../../../css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="../../../../css/style.css">
   <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
   <link rel="stylesheet" href="../../../../public/css/mt-style.css">
</head>