<!DOCTYPE html>
<html>

<partial src="head-5.html" title="PPSMB PALAPA 2018"></partial>

<body>
   <!-- navbar -->
   <partial src="navbar-5.html"></partial>

   <!-- breadcrumb -->
   <partial src="breadcrumb-fakultas-3.html" link-fakultas="/hari-3/fakultas/sekolah-vokasi/index.html" nama-hari="hari ke-3" link-hari="/hari-3/index.html" fakultas="sekolah vokasi" nama-cluster="@@nama-cluster"></partial>

   <!-- menu -->
   <partial src="menu-hari-fakultas.html"></partial>

   <!-- footer -->
   <partial src="footer.html"></partial>

   <!-- UIkit JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit.min.js"></script>
</body>

</html>