<!DOCTYPE html>
<html>

<partial src="head-4.html" title="PPSMB PALAPA 2018"></partial>

<body>
   <!-- navbar -->
   <partial src="navbar-4.html"></partial>

   <!-- breadcrumb -->
   <partial src="breadcrumb-fakultas-1.html" nama-hari="@@nama-hari" link-hari="@@link-hari" fakultas="@@fakultas"></partial>

   <!-- menu -->
   <partial src="menu-hari-fakultas.html"></partial>

   <!-- footer -->
   <partial src="footer.html"></partial>

   <!-- UIkit JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit.min.js"></script>
</body>

</html>