<!DOCTYPE html>
<html>

<partial src="head-2.html" title="PPSMB PALAPA 2018"></partial>

<body>
   <!-- navbar -->
   <partial src="navbar-2.html"></partial>

   <!-- breadcrumb -->
   <partial src="breadcrumb-1.html" nama-hari="@@nama-hari"></partial>

   <!-- grid -->
   <div class="uk-flex uk-flex-center grid-normal uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-1@s" style="margin-top: 42px; margin-bottom: 42px;"uk-grid>
      <partial src="card-fakultas.html" fakultas="Fakultas Biologi" link="fakultas/biologi/index.html"></partial>

      <partial src="card-fakultas.html" fakultas="Fakultas Ekonomika dan Bisnis" link="fakultas/ekonomika-bisnis/index.html"></partial>

      <partial src="card-fakultas.html" fakultas="Fakultas Farmasi" link="fakultas/farmasi/index.html"></partial>

      <partial src="card-fakultas.html" fakultas="Fakultas Filsafat" link="fakultas/filsafat/index.html"></partial>

      <partial src="card-fakultas.html" fakultas="Fakultas Geografi" link="fakultas/geografi/index.html"></partial>

      <partial src="card-fakultas.html" fakultas="Fakultas Hukum" link="fakultas/hukum/index.html"></partial>

      <partial src="card-fakultas.html" fakultas="Fakultas Ilmu Budaya" link="fakultas/ilmu-budaya/index.html"></partial>

      <partial src="card-fakultas.html" fakultas="Fakultas ISIPOL" link="fakultas/isipol/index.html"></partial>

      <partial src="card-fakultas.html" fakultas="Fakultas Kedokteran Kesehatan Masyarakat dan Keperawatan" link="fakultas/fkkmk/index.html"></partial>

      <partial src="card-fakultas.html" fakultas="Fakultas Kedokteran Gigi" link="fakultas/kedokteran-gigi/index.html"></partial>

      <partial src="card-fakultas.html" fakultas="Fakultas Kedokteran Hewan" link="fakultas/kedokteran-hewan/index.html"></partial>

      <partial src="card-fakultas.html" fakultas="Fakultas Kehutanan" link="fakultas/kehutanan/index.html"></partial>

      <partial src="card-fakultas.html" fakultas="Fakultas MIPA" link="fakultas/mipa/index.html"></partial>

      <partial src="card-fakultas.html" fakultas="Fakultas Pertanian" link="fakultas/pertanian/index.html"></partial>

      <partial src="card-fakultas.html" fakultas="Fakultas Peternakan" link="fakultas/peternakan/index.html"></partial>

      <partial src="card-fakultas.html" fakultas="Fakultas Psikologi" link="fakultas/psikologi/index.html"></partial>

      <partial src="card-fakultas.html" fakultas="Fakultas Teknik" link="fakultas/teknik/index.html"></partial>

      <partial src="card-fakultas.html" fakultas="Fakultas Teknologi Pertanian" link="fakultas/teknologi-pertanian/index.html"></partial>

      <partial src="card-fakultas.html" fakultas="Sekolah Vokasi" link="fakultas/sekolah-vokasi/index.html"></partial>
      
   </div>
   <!-- end grid -->

   <!-- footer -->
   <partial src="footer.html"></partial>

   <!-- UIkit JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit.min.js"></script>
</body>

</html>