<!DOCTYPE html>
<html>

<partial src="head-4.html" title="PPSMB PALAPA 2018"></partial>

<body>
   <!-- untuk vokasi day - 3 -->
   <!-- navbar -->
   <partial src="navbar-4.html"></partial>

   <!-- breadcrumb -->
   <partial src="breadcrumb-fakultas-1.html" nama-hari="@@nama-hari" link-hari="@@link-hari" fakultas="@@fakultas"></partial>

   <!-- grid -->
   <div class="uk-flex uk-flex-center grid-normal uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-1@s" style="margin-top: 42px; margin-bottom: 42px;"uk-grid>
      <partial src="card-vokasi.html" sub="Bhinneka" link="bhinneka" jurusan="D3 Teknik Mesin, D4 Teknik Pengelolaan dan Pemeliharaan alat berat, D3 Teknik Sipil, D4 Teknik Pengelolaan dan Pemeliharaan Infrastruktur Sipil, D3 Teknik Geomatika, D3 Pengindraan Jauh dan Sistem Informasi Geografi"></partial>

      <partial src="card-vokasi.html" sub="Improvisasi" link="improvisasi" jurusan="D3 Akuntansi, D3 Ekonomika Terapan, D3 Manajemen, D4 Pembangunan Ekonomi Kewilayahan"></partial>

      <partial src="card-vokasi.html" sub="Lentera Budaya" link="lentera-budaya" jurusan="D3 Bahasa Inggris, D3 Kepariwisataan, D3 Kearsipan, D3 Bahasa Jepang, D3 Bahasa Korea"></partial>

      <partial src="card-vokasi.html" sub="Metamorv" link="metamorv" jurusan="D3 Kesehatan Hewan, D3 Rekam Medis, D3 Pengelolaan Hutan, D3 Agroindustri"></partial>

      <partial src="card-vokasi.html" sub="Universal" link="universal" jurusan="D3 Teknologi Listrik, D3 Teknik Instrumentasi, D3 Ilmu Komputer dan Sistem Informasi, D3 Metrologi dan Instrumentasi, D4 Teknologi Rekayasa Internet"></partial>
      
   </div>
   <!-- end grid -->

   <!-- footer -->
   <partial src="footer.html"></partial>

   <!-- UIkit JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit.min.js"></script>
</body>

</html>