<li>
   <div class="uk-card uk-card-default @@kode-warna uk-height-1-1" style="background: url('img/berita.png');">
       <div class="uk-card-body" style="padding-top: 86px; padding-bottom: 86px;">
           <div class="">
               <h3 class="g-font-size-19--xs g-color--white g-margin-b-5--xs">@@no-info</h3>
               <p class="g-color--white g-font-size-32--xs g-font-weight--600">@@judul</p>
               <h3 class="g-color--white g-font-size-19--xs g-font-weight--200">@@jam</h3>
           </div>
           <a href="@@link" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Selengkapnya</a>    
       </div>
   </div>
</li>