<!-- grid -->
<div class="uk-container grid-normal uk-width-1-1 uk-flex uk-flex-center" uk-grid style="margin-top: 42px; margin-bottom: 42px;">
   <!-- card -->
   <div class="uk-width-1-4@m uk-width-1-1@s col-normal uk-card uk-card-default margin-card" style="padding-top: 64px; padding-bottom: 64px;">
      <div class="uk-card-body" style="color: #073c64;;">
         <div class="uk-flex uk-flex-center">
            <i class="fas fa-clipboard-list fa-3x"></i>
         </div>
         <div class="uk-flex uk-flex-center" style="margin-top: 32px; margin-bottom: 32px;">
            <!-- <div class="uk-card-title txt-medium" style="color: #1012ac ; font-family: 'Montserrat', sans-serif;">
               Agenda
            </div> -->
         </div>
         <div class="uk-flex uk-flex-center">
            <a class="uk-button uk-button-default btn-blue" href="agenda.html" style="border-radius: 90px;">agenda</a>
         </div>
      </div>
   </div>
   <!-- end card -->

   <!-- card -->
   <div class="uk-width-1-4@m uk-width-1-1@s col-normal uk-card uk-card-default margin-card" style="padding-top: 64px; padding-bottom: 64px;">
      <div class="uk-card-body" style="color: #073c64;">
         <div class="uk-flex uk-flex-center">
            <i class="fas fa-tasks fa-3x"></i>
         </div>
         <div class="uk-flex uk-flex-center" style="margin-top: 32px; margin-bottom: 32px;">
            <!-- <div class="uk-card-title txt-medium" style="color: #1012ac ; font-family: 'Montserrat', sans-serif;">
               Atribut & Penugasan
            </div> -->
         </div>
         <div class="uk-flex uk-flex-center">
            <a class="uk-button uk-button-default btn-blue" href="atribut-penugasan.html" style="border-radius: 90px;">atribut & penugasan</a>
         </div>
      </div>
   </div>
   <!-- end card -->
</div>
<!-- end grid -->